---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="letters-box">
    <div class="letter">
      <p class="big">A</p>
      <p class="small">Alpha</p>
    </div>
    <div class="letter">
      <p class="big">B</p>
      <p class="small">Bravo</p>
    </div>
    <div class="letter">
      <p class="big">C</p>
      <p class="small">Charlie</p>
    </div>
    <div class="letter">
      <p class="big">D</p>
      <p class="small">Delta</p>
    </div>
    <div class="letter">
      <p class="big">E</p>
      <p class="small">Echo</p>
    </div>
    <div class="letter">
      <p class="big">F</p>
      <p class="small">Foxtrot</p>
    </div>
    <div class="letter">
      <p class="big">G</p>
      <p class="small">Golf</p>
    </div>
    <div class="letter">
      <p class="big">H</p>
      <p class="small">Hotel</p>
    </div>
    <div class="letter">
      <p class="big">I</p>
      <p class="small">India</p>
    </div>
    <div class="letter">
      <p class="big">J</p>
      <p class="small">Juliet</p>
    </div>
    <div class="letter">
      <p class="big">K</p>
      <p class="small">Kilo</p>
    </div>
    <div class="letter">
      <p class="big">L</p>
      <p class="small">Lima</p>
    </div>
    <div class="letter">
      <p class="big">M</p>
      <p class="small">Mike</p>
    </div>
    <div class="letter">
      <p class="big">N</p>
      <p class="small">November</p>
    </div>
    <div class="letter">
      <p class="big">O</p>
      <p class="small">Oscar</p>
    </div>
    <div class="letter">
      <p class="big">P</p>
      <p class="small">Papa</p>
    </div>
    <div class="letter">
      <p class="big">Q</p>
      <p class="small">Quebec</p>
    </div>
    <div class="letter">
      <p class="big">R</p>
      <p class="small">Romeo</p>
    </div>
    <div class="letter">
      <p class="big">S</p>
      <p class="small">Sierra</p>
    </div>
    <div class="letter">
      <p class="big">T</p>
      <p class="small">Tango</p>
    </div>
    <div class="letter">
      <p class="big">U</p>
      <p class="small">Uniform</p>
    </div>
    <div class="letter">
      <p class="big">V</p>
      <p class="small">Victor</p>
    </div>
    <div class="letter">
      <p class="big">W</p>
      <p class="small">Whiskey</p>
    </div>
    <div class="letter">
      <p class="big">X</p>
      <p class="small">X-ray</p>
    </div>
    <div class="letter">
      <p class="big">Y</p>
      <p class="small">Yankee</p>
    </div>
    <div class="letter">
      <p class="big">Z</p>
      <p class="small">Zulu</p>
    </div>
  </div>
</Layout>
